/*
    CONTENIDO 
    1. Mixins
    2. Variables
    3. Esitlos html, body, container y main
    4. Botones
    5. Estilos de textos
    6. Plugins
    8. Animaciones
------------------------------------------------------------------ */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i');
// 1. Mixins
@mixin fuente($tamano, $ancho){
    font : {
        size: $tamano;
        weight: $ancho;
    }
}
// 2. Variables
$pathImagens : '../imagenes/';
// 3. Esitlos html, body, container y main
html{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    .container {
        margin: 0 auto;
        max-width: 1200px; 
        width: 90%;
    }
    @media #{$medium-and-up} {
        .container {
            width: 90%;
        }
    }
    @media #{$large-and-up} {
        .container {
            width: 97%;
        }
    }
}

main {
    flex: 1 0 auto;
}

.row-sin-margen{
    margin-bottom: 0;
}
// 5. Estilos de textos
.bold {
    font-weight: bold !important;
    text-decoration: none !important;
}

// No wrap
.text-nowrap {
    white-space: nowrap;
}

.error{
    font-size: 11px;
    text-align: left;
}
// 6. Plugins materialize
.dropdown-content li > span{
    color:#171c66 !important;
}
.select-dropdown li.disabled > span, .select-dropdown li.optgroup {
    color: rgba(0, 0, 0, 0.3) !important;
    background-color: transparent;
}
input.valid:not([type]):focus, input.valid[type=text]:not(.browser-default), input.valid[type=text]:not(.browser-default):focus, input.valid[type=password]:not(.browser-default), input.valid[type=password]:not(.browser-default):focus, input.valid[type=email]:not(.browser-default), input.valid[type=email]:not(.browser-default):focus, input.valid[type=url]:not(.browser-default), input.valid[type=url]:not(.browser-default):focus, input.valid[type=time]:not(.browser-default), input.valid[type=time]:not(.browser-default):focus, input.valid[type=date]:not(.browser-default), input.valid[type=date]:not(.browser-default):focus, input.valid[type=datetime]:not(.browser-default), input.valid[type=datetime]:not(.browser-default):focus, input.valid[type=datetime-local]:not(.browser-default), input.valid[type=datetime-local]:not(.browser-default):focus, input.valid[type=tel]:not(.browser-default), input.valid[type=tel]:not(.browser-default):focus, input.valid[type=number]:not(.browser-default), input.valid[type=number]:not(.browser-default):focus, input.valid[type=search]:not(.browser-default), input.valid[type=search]:not(.browser-default):focus, textarea.materialize-textarea.valid, textarea.materialize-textarea.valid:focus, .select-wrapper.valid > input.select-dropdown {
    border-bottom: 1px solid #1b75bc;
    -webkit-box-shadow: 0 1px 0 0 #1b75bc;
    box-shadow: 0 1px 0 0 #1b75bc;
    
}
input:not([type]),
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default),
textarea.materialize-textarea {
    &:focus:not([readonly]) {
    border-bottom: 1px solid #1b75bc !important;
    box-shadow: 0 1px 0 0  #1b75bc !important;
  }

}
label.active{
    color:#1b75bc  !important;
}
