main.eduboston{
	section.conecta{
		padding-top: 40px;
		padding-bottom:230px; 
		@media #{$medium-and-down} {
				height: auto;
				padding-top: 10px;
				padding-bottom:20px; 
			}
		h1{
			color:#171c66;
			font-size: 36px;
			font-weight: bold;
			@media #{$medium-and-down} {
				font-size: 24px;
				margin-top: 0px;
				margin-bottom: 0px;
			}
		}
		p{
			color: #363a3e;
			font-size: 20px;
			@media #{$medium-and-down} {
				font-size: 15px;
			}
			span{
				color: #ce123c;
				font-weight: bold;
			}
		}
		.mobile{
			width: 100%;
			margin-bottom: 10px;
		}
		.video{
			position: relative;
			.cover{
				height: 450px;
				position: absolute;
				width: 95%;
	    		left: 0px;
	    		top: 0px;
			}
			.player{
			    position: absolute;
			    margin-top: 0px;
			    width: 95%;
			    left: 0px;
			    background: #41414161;
			    height: 450px;
			    text-align: center;
			   	line-height: 450px;
			   	cursor: pointer;
			}
		}
		.texto{
			padding:0px 100px;
			padding-left:0px;
			padding-top:80px;
			@media #{$medium-and-down} {
				text-align: center;
				padding:0px 5px;
			}
		}
		iframe{
			height: 450px;
			position: absolute;
			width: 95%;
    		left: 0px;
    		top: 0px;
		}
	}
	section.form{
		padding:100px 0px;
		background-image: url("../imagenes/background-form.jpg");
		background-repeat: no-repeat;
		background-size:cover;
		margin-bottom: 50px;
		@media #{$medium-and-down} {
			padding:10px 0px;
			margin-bottom: 0px;
		}
		h2{
			font-size: 30px;
			color: #ffffff;
			@media #{$medium-and-down} {
				text-align: center;
				font-size: 20px;
			}
		}
		p{
			color: #ffffff;
			font-size: 18px;
			&.show-on-large{
				display: block;
			}
			&.show-on-medium-and-down{
				display: none;
			}
			@media #{$medium-and-down} {
				font-size:15px;
				&.show-on-medium-and-down{
					display: block;
				}
				&.show-on-large{
					display: none;
				}
			}
		}
		.contenedor{
			position: relative;
		}
		.texto{
			padding-right: 40px;
			@media #{$medium-and-down} {
				padding-right:0px;
			}
		}
		.container_form{
			.title{
				font-size: 26px;
				color: #171c66;
				text-align: center;
				margin-top:0px;
				font-weight: bold;
				text-transform: uppercase;
				@media #{$medium-and-down} {
					font-size: 20px;
					margin-bottom: 0px;
				}
			}
			width: 93%;
		    background: #fff;
		    padding:45px 80px;
		    position: absolute;
		    margin: auto;
		    right:0;
		    top: -50px;
		    border-radius: 10px;
		    @media #{$medium-and-down} {
		    	position:relative;
		    	width: 100%;
		    	right:auto;
		   		top:auto;
		   		padding:20px 20px;

		    }
		    .other{
		    	display: none;
		    }
		    span.error{
		    	color: #ce123c !important;
			    position: relative !important;
			    top: -16px !important;
			    font-size: 12px !important;
		    }
		    button.btn.waves-effect.waves-light{
		    	height: 45px;
			    line-height: 40px;
			    padding: 3px 7rem;
			    background: #171c66;
			    border-radius: 5px;
			    @media #{$medium-and-down}{    
			    	padding: 3px 4rem;
			    }
		    }
		}
	}
	section.esculas{
		padding:70px 0px;
		@media #{$medium-and-down} {
			padding:20px 0px;
		}
		h2{
			font-size:30px;
			color:#171c66;
			font-weight: bold;
			text-align: center;
			@media #{$medium-and-down} {
				font-size:20px;
			}
		}
		.images{
			margin-bottom:50px;
		}
		p{
			text-align: center;
			font-size: 18px;
			color:#363a3e;
			padding:0px 130px;
			@media #{$medium-and-down} {
				padding:0px 5px;
				font-size: 15px;
			}
			span{
				color:#171c66;
				font-weight: bold;
			}
		}


	}
	section.gracias{
		padding:100px;
		padding-top: 50px;
		text-align: center;
		@media #{$medium-and-down} {
			padding: 30px;
			padding-top: 0px;
		}
		h1{
			color: #ce123c;
			font-weight: bold;
			@media #{$medium-and-down} {
				font-size: 40px;
			}
		}
		p{
			font-size: 30px;
			@media #{$medium-and-down} {
				font-size: 24px;
			}
		}
	}
}
















